.tasks {
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 1.5rem;

    position: absolute;
    width: 80%;
    max-width: 46rem;
    height: 17.9375rem;
    left: calc(50% - 736px/2);
    top: 18.875rem;
}

.info {
    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0px;

    max-width: 43rem;
    height: 1.1875rem;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

span {
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 1.0625rem;
}

.created {

    color: var(--blue);

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 0.5rem;

    width: 8.6875rem;
    height: 1.1875rem;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.number {
    width: 0.5625rem;
    height: 0.9375rem;
    
    font-weight: 700;
    font-size: 0.75rem;
    line-height: 0.9375rem;
    /* identical to box height */

    color: var(--gray-200);
}

.border {
    /* Auto layout */

    padding: 2px 8px 19px;
    gap: 10px;

    height: 1.1875rem;

    /* Gray 400 */

    background: var(--gray-400);
    border-radius: 999px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.done {
    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 0.5rem;

    max-width: 6.9375rem;
    height: 1.1875rem;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.concluded {
    width: 4.875rem;
    height: 1.0625rem;

    font-weight: 700;
    font-size: 0.875rem;
    line-height: 1.0625rem;
    /* identical to box height */


    /* Purple */
    color: var(--purple);

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 0.5rem;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.listItems {
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 1.5rem;
    gap: 1rem;

    max-width: 46rem;
    height: 15.25rem;

    /* Grey 400 */

    border-top: 1px solid #333333;
    border-radius: 0.5rem;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.emptyListBox {
    display: contents;
}

.emptyList {
    max-width: 43rem;
    height: 2.75rem;

    font-weight: 700;
    font-size: 1rem;
    line-height: 1.375rem;
    /* or 22px */

    text-align: center;

    /* Gray 300 */

    color: var(--gray-300);


    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.task {
    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 1rem;
    gap: 0.75rem;

    max-width: 46rem;
    height: 4.5rem;

    /* Gray 500 */

    background: var(--gray-500);
    /* Gray 400 */

    border: 1px solid var(--gray-400);
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.06);
    border-radius: 8px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.check {
    width: 1.5rem;
    height: 1.5rem;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.icon {
    left: 13.64%;
    right: 13.64%;
    top: 13.64%;
    bottom: 13.64%;

    color: var(--blue);
}

.iconChecked {
    left: 13.64%;
    right: 13.64%;
    top: 13.64%;
    bottom: 13.64%;
}

.iconChecked path {
    color: var(--dark-purple);
}

.iconChecked rect {
    color: var(--white);
}


.contentTask {
    width: 80%;
    max-width: 39.5rem;
    height: 2.5rem;

    font-weight: 400;
    font-size: 0.875rem;
    line-height: 140%;
    /* or 20px */


    /* Gray 100 */

    color: var(--gray-100);


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 1;
}

.contentTaskConcluded {
    width: 80%;
    max-width: 39.5rem;
    height: 2.5rem;

    font-weight: 400;
    font-size: 0.875rem;
    line-height: 140%;
    /* or 20px */
    
    text-decoration-line: line-through;
    
    /* Gray 300 */
    
    color: var(--gray-300);
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    flex-grow: 1;
}

.trash {
    /* trash */

    max-width: 1.5rem;
    height: 1.5rem;

    border-radius: 4px;

    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
}

@media (max-width: 930px) {

    .info{
        width: 90%;
    }
}

@media (max-width: 800px) {

    .tasks {
        left: calc(50% - 80%/2);
    }
}